body {
    color:#333333;
    width: 55em;
    margin: auto;
}

#hero img {
    width: 100%;
    margin: auto;
    display: block;
    border: 10px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

#hero-text {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
}

#tab-data h1 {
    font-weight: normal;
    font-family: courier, cursive;
    font-size: 4em;
    margin: 0px;
    padding: 0px;
}

#tab-data h2 {
    font-family: serif;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

#tab-data {
    padding-left: 4em;
    padding-right: 4em;
    border: 2px solid black;
    border-radius: 5px;
}

#tab-menu {
    padding: 1em;
}

#tab-menu * {
    display: inline;
}

#tab-menu div{
    padding: 1em;
}

#tab-menu div:hover {
    color: black;
    background-color: #cccccc;
}

.selected, div.selected:hover {
    color: white;
    background-color: gray;
}

